.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    font-family: courier;
    font-size: 3em;
    text-align: center;
    border-right: 3px solid rgb(184, 104, 0);
    border-bottom: 3px solid rgb(184, 104, 0);
    box-shadow: 4px 5px 5px;
}

img {
    width: 450px;
    height: 300px;
    margin:15px;
    transition: 0.5s;
}

img:hover {
    transform: scale(1.1);
}